.online-status-icon {
    width: 20px;
    height: 20px;
}
.user-profile-img {
    width: 200px;
}
.result-count,
.personal-info-header {
    font-size: 20px;
    font-weight: 700;
}
.user-list {
    display: flex;
    gap: 10px;
}
.user-card {
    width: 250px;
}
